<div class="container mt-5">
  <div class="row">
      <h1 class="mt-5">Task Manager</h1>
  </div>

  <div>
    <%= render 'task_form', task: @task %>
  <div class="col-md-6 mt-3">
    <% if notice.present? %>
      <div class="alert alert-success alert-sm mb-4" role="alert">
        <%= notice %>
      </div>
    <% end %>
  </div>
  </div>

  <div class="mt-5">
    <% @tasks.each do |task| %>
      <p><%= task.description %></p>
    <% end %>
  </div>
</div>
